[Unit]
Description = pyeeic2019bot
After=local-fs.target
ConditionPathExists=/opt/pyeeic2019bot/bin

[Service]
ExecStart=/opt/pyeeic2019bot/bin/main.py
Restart=always
Type=simple
PIDFile=/var/run/pyeeic2019bot.pid


[Install]
WantedBy=multi-user.target
